<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="auto.newsky.coding.mapper.InvitationMapper" >
  <resultMap id="BaseResultMap" type="auto.newsky.coding.po.Invitation" >
    <id column="invit_id" property="invitId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="type_parent_id" property="typeParentId" jdbcType="INTEGER" />
    <result column="invit_publication_time" property="invitPublicationTime" jdbcType="TIMESTAMP" />
    <result column="invit_activity_time" property="invitActivityTime" jdbcType="TIMESTAMP" />
    <result column="invit_place" property="invitPlace" jdbcType="VARCHAR" />
    <result column="invit_number_max" property="invitNumberMax" jdbcType="INTEGER" />
    <result column="invit_number_curr" property="invitNumberCurr" jdbcType="INTEGER" />
    <result column="invit_sex_require" property="invitSexRequire" jdbcType="INTEGER" />
    <result column="invit_title" property="invitTitle" jdbcType="VARCHAR" />
    <result column="invit_content" property="invitContent" jdbcType="VARCHAR" />
    <result column="invit_hidden" property="invitHidden" jdbcType="BIT" />
    <result column="invit_is_delete" property="invitIsDelete" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    invit_id, user_id, type_id, type_parent_id, invit_publication_time, invit_activity_time, 
    invit_place, invit_number_max, invit_number_curr, invit_sex_require, invit_title, 
    invit_content, invit_hidden, invit_is_delete
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="auto.newsky.coding.po.InvitationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from with_invitation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from with_invitation
    where invit_id = #{invitId,jdbcType=INTEGER}
  </select>
  <select id="selectByUidAndPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from with_invitation
    where invit_id = #{invitId} AND user_id = #{aimUserId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from with_invitation
    where invit_id = #{invitId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="auto.newsky.coding.po.InvitationExample" >
    delete from with_invitation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="auto.newsky.coding.po.Invitation" useGeneratedKeys="true" keyProperty="invit_id" >

    insert into with_invitation (user_id, type_id,
      type_parent_id, invit_publication_time, invit_activity_time, 
      invit_place, invit_number_max, invit_number_curr, 
      invit_sex_require, invit_title, invit_content, 
      invit_hidden, invit_is_delete)
    values ( #{userId,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER},
      #{typeParentId,jdbcType=INTEGER}, #{invitPublicationTime,jdbcType=TIMESTAMP}, #{invitActivityTime,jdbcType=TIMESTAMP}, 
      #{invitPlace,jdbcType=VARCHAR}, #{invitNumberMax,jdbcType=INTEGER}, #{invitNumberCurr,jdbcType=INTEGER}, 
      #{invitSexRequire,jdbcType=INTEGER}, #{invitTitle,jdbcType=VARCHAR}, #{invitContent,jdbcType=VARCHAR}, 
      #{invitHidden,jdbcType=BIT}, #{invitIsDelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="auto.newsky.coding.po.Invitation" >
    insert into with_invitation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="invitId != null" >
        invit_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="typeParentId != null" >
        type_parent_id,
      </if>
      <if test="invitPublicationTime != null" >
        invit_publication_time,
      </if>
      <if test="invitActivityTime != null" >
        invit_activity_time,
      </if>
      <if test="invitPlace != null" >
        invit_place,
      </if>
      <if test="invitNumberMax != null" >
        invit_number_max,
      </if>
      <if test="invitNumberCurr != null" >
        invit_number_curr,
      </if>
      <if test="invitSexRequire != null" >
        invit_sex_require,
      </if>
      <if test="invitTitle != null" >
        invit_title,
      </if>
      <if test="invitContent != null" >
        invit_content,
      </if>
      <if test="invitHidden != null" >
        invit_hidden,
      </if>
      <if test="invitIsDelete != null" >
        invit_is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="invitId != null" >
        #{invitId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeParentId != null" >
        #{typeParentId,jdbcType=INTEGER},
      </if>
      <if test="invitPublicationTime != null" >
        #{invitPublicationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invitActivityTime != null" >
        #{invitActivityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invitPlace != null" >
        #{invitPlace,jdbcType=VARCHAR},
      </if>
      <if test="invitNumberMax != null" >
        #{invitNumberMax,jdbcType=INTEGER},
      </if>
      <if test="invitNumberCurr != null" >
        #{invitNumberCurr,jdbcType=INTEGER},
      </if>
      <if test="invitSexRequire != null" >
        #{invitSexRequire,jdbcType=INTEGER},
      </if>
      <if test="invitTitle != null" >
        #{invitTitle,jdbcType=VARCHAR},
      </if>
      <if test="invitContent != null" >
        #{invitContent,jdbcType=VARCHAR},
      </if>
      <if test="invitHidden != null" >
        #{invitHidden,jdbcType=BIT},
      </if>
      <if test="invitIsDelete != null" >
        #{invitIsDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="auto.newsky.coding.po.InvitationExample" resultType="java.lang.Integer" >
    select count(*) from with_invitation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update with_invitation
    <set >
      <if test="record.invitId != null" >
        invit_id = #{record.invitId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.typeId != null" >
        type_id = #{record.typeId,jdbcType=INTEGER},
      </if>
      <if test="record.typeParentId != null" >
        type_parent_id = #{record.typeParentId,jdbcType=INTEGER},
      </if>
      <if test="record.invitPublicationTime != null" >
        invit_publication_time = #{record.invitPublicationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.invitActivityTime != null" >
        invit_activity_time = #{record.invitActivityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.invitPlace != null" >
        invit_place = #{record.invitPlace,jdbcType=VARCHAR},
      </if>
      <if test="record.invitNumberMax != null" >
        invit_number_max = #{record.invitNumberMax,jdbcType=INTEGER},
      </if>
      <if test="record.invitNumberCurr != null" >
        invit_number_curr = #{record.invitNumberCurr,jdbcType=INTEGER},
      </if>
      <if test="record.invitSexRequire != null" >
        invit_sex_require = #{record.invitSexRequire,jdbcType=INTEGER},
      </if>
      <if test="record.invitTitle != null" >
        invit_title = #{record.invitTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.invitContent != null" >
        invit_content = #{record.invitContent,jdbcType=VARCHAR},
      </if>
      <if test="record.invitHidden != null" >
        invit_hidden = #{record.invitHidden,jdbcType=BIT},
      </if>
      <if test="record.invitIsDelete != null" >
        invit_is_delete = #{record.invitIsDelete,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update with_invitation
    set invit_id = #{record.invitId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      type_id = #{record.typeId,jdbcType=INTEGER},
      type_parent_id = #{record.typeParentId,jdbcType=INTEGER},
      invit_publication_time = #{record.invitPublicationTime,jdbcType=TIMESTAMP},
      invit_activity_time = #{record.invitActivityTime,jdbcType=TIMESTAMP},
      invit_place = #{record.invitPlace,jdbcType=VARCHAR},
      invit_number_max = #{record.invitNumberMax,jdbcType=INTEGER},
      invit_number_curr = #{record.invitNumberCurr,jdbcType=INTEGER},
      invit_sex_require = #{record.invitSexRequire,jdbcType=INTEGER},
      invit_title = #{record.invitTitle,jdbcType=VARCHAR},
      invit_content = #{record.invitContent,jdbcType=VARCHAR},
      invit_hidden = #{record.invitHidden,jdbcType=BIT},
      invit_is_delete = #{record.invitIsDelete,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="auto.newsky.coding.po.Invitation" >
    update with_invitation
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeParentId != null" >
        type_parent_id = #{typeParentId,jdbcType=INTEGER},
      </if>
      <if test="invitPublicationTime != null" >
        invit_publication_time = #{invitPublicationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invitActivityTime != null" >
        invit_activity_time = #{invitActivityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invitPlace != null" >
        invit_place = #{invitPlace,jdbcType=VARCHAR},
      </if>
      <if test="invitNumberMax != null" >
        invit_number_max = #{invitNumberMax,jdbcType=INTEGER},
      </if>
      <if test="invitNumberCurr != null" >
        invit_number_curr = #{invitNumberCurr,jdbcType=INTEGER},
      </if>
      <if test="invitSexRequire != null" >
        invit_sex_require = #{invitSexRequire,jdbcType=INTEGER},
      </if>
      <if test="invitTitle != null" >
        invit_title = #{invitTitle,jdbcType=VARCHAR},
      </if>
      <if test="invitContent != null" >
        invit_content = #{invitContent,jdbcType=VARCHAR},
      </if>
      <if test="invitHidden != null" >
        invit_hidden = #{invitHidden,jdbcType=BIT},
      </if>
      <if test="invitIsDelete != null" >
        invit_is_delete = #{invitIsDelete,jdbcType=BIT},
      </if>
    </set>
    where invit_id = #{invitId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="auto.newsky.coding.po.Invitation" >
    update with_invitation
    set user_id = #{userId,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER},
      type_parent_id = #{typeParentId,jdbcType=INTEGER},
      invit_publication_time = #{invitPublicationTime,jdbcType=TIMESTAMP},
      invit_activity_time = #{invitActivityTime,jdbcType=TIMESTAMP},
      invit_place = #{invitPlace,jdbcType=VARCHAR},
      invit_number_max = #{invitNumberMax,jdbcType=INTEGER},
      invit_number_curr = #{invitNumberCurr,jdbcType=INTEGER},
      invit_sex_require = #{invitSexRequire,jdbcType=INTEGER},
      invit_title = #{invitTitle,jdbcType=VARCHAR},
      invit_content = #{invitContent,jdbcType=VARCHAR},
      invit_hidden = #{invitHidden,jdbcType=BIT},
      invit_is_delete = #{invitIsDelete,jdbcType=BIT}
    where invit_id = #{invitId,jdbcType=INTEGER}
  </update>
  <select id="selectInvitationsUnType" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from with_invitation
    where invit_id>#{lastInvitationId}
    and invit_is_delete = false
    order by invit_id  limit #{limit}
  </select>
  <select id="selectInvitationsByParentType" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from with_invitation
    where invit_id>#{lastInvitationId}
    and type_parent_id = #{typeId}
    and invit_is_delete = false
    order by invit_id  limit #{limit}
  </select>
  <select id="selectInvitationsByType" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from with_invitation
    where invit_id>#{lastInvitationId}
    and type_id = #{typeId}
    and invit_is_delete = false
    order by invit_id  limit #{limit}
  </select>
  <select id="selectInvitationsByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from with_invitation
    where invit_id>#{lastInvitationId}
    and user_id = #{userId}
    and invit_is_delete = false
    order by invit_id  limit #{limit}
  </select>
  <select id="selectInvitationsConcern" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from with_invitation
    where invit_id>#{lastInvitationId}
    and user_id in (
    select  con_to_user_id from with_concern where con_from_user_id = #{myUserId}
    )
    and invit_is_delete = false
    order by invit_id  limit #{limit}
  </select>

  <select id="getUserLastInvitationId"  resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select
    invit_id
    from with_invitation
    where user_id = #{myUserId}
    order by invit_id desc
    limit 1
  </select>

</mapper>