<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="auto.newsky.coding.mapper.JournalMapper" >
  <resultMap id="BaseResultMap" type="auto.newsky.coding.po.Journal" >
    <id column="jour_id" property="jourId" jdbcType="INTEGER" />
    <result column="task_id" property="taskId" jdbcType="INTEGER" />
    <result column="jour_date" property="jourDate" jdbcType="TIMESTAMP" />
    <result column="jour_summary" property="jourSummary" jdbcType="VARCHAR" />
    <result column="jour_punch" property="jourPunch" jdbcType="BIT" />
    <result column="jour_is_delete" property="jourIsDelete" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    jour_id, task_id, jour_date, jour_summary, jour_punch, jour_is_delete
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="auto.newsky.coding.po.JournalExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from with_journal
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from with_journal
    where jour_id = #{jourId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from with_journal
    where jour_id = #{jourId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="auto.newsky.coding.po.JournalExample" >
    delete from with_journal
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="auto.newsky.coding.po.Journal" >
    insert into with_journal (jour_id, task_id, jour_date, 
      jour_summary, jour_punch, jour_is_delete
      )
    values (#{jourId,jdbcType=INTEGER}, #{taskId,jdbcType=INTEGER}, #{jourDate,jdbcType=TIMESTAMP}, 
      #{jourSummary,jdbcType=VARCHAR}, #{jourPunch,jdbcType=BIT}, #{jourIsDelete,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="auto.newsky.coding.po.Journal" >
    insert into with_journal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jourId != null" >
        jour_id,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="jourDate != null" >
        jour_date,
      </if>
      <if test="jourSummary != null" >
        jour_summary,
      </if>
      <if test="jourPunch != null" >
        jour_punch,
      </if>
      <if test="jourIsDelete != null" >
        jour_is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jourId != null" >
        #{jourId,jdbcType=INTEGER},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="jourDate != null" >
        #{jourDate,jdbcType=TIMESTAMP},
      </if>
      <if test="jourSummary != null" >
        #{jourSummary,jdbcType=VARCHAR},
      </if>
      <if test="jourPunch != null" >
        #{jourPunch,jdbcType=BIT},
      </if>
      <if test="jourIsDelete != null" >
        #{jourIsDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="auto.newsky.coding.po.JournalExample" resultType="java.lang.Integer" >
    select count(*) from with_journal
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update with_journal
    <set >
      <if test="record.jourId != null" >
        jour_id = #{record.jourId,jdbcType=INTEGER},
      </if>
      <if test="record.taskId != null" >
        task_id = #{record.taskId,jdbcType=INTEGER},
      </if>
      <if test="record.jourDate != null" >
        jour_date = #{record.jourDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jourSummary != null" >
        jour_summary = #{record.jourSummary,jdbcType=VARCHAR},
      </if>
      <if test="record.jourPunch != null" >
        jour_punch = #{record.jourPunch,jdbcType=BIT},
      </if>
      <if test="record.jourIsDelete != null" >
        jour_is_delete = #{record.jourIsDelete,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update with_journal
    set jour_id = #{record.jourId,jdbcType=INTEGER},
      task_id = #{record.taskId,jdbcType=INTEGER},
      jour_date = #{record.jourDate,jdbcType=TIMESTAMP},
      jour_summary = #{record.jourSummary,jdbcType=VARCHAR},
      jour_punch = #{record.jourPunch,jdbcType=BIT},
      jour_is_delete = #{record.jourIsDelete,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="auto.newsky.coding.po.Journal" >
    update with_journal
    <set >
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=INTEGER},
      </if>
      <if test="jourDate != null" >
        jour_date = #{jourDate,jdbcType=TIMESTAMP},
      </if>
      <if test="jourSummary != null" >
        jour_summary = #{jourSummary,jdbcType=VARCHAR},
      </if>
      <if test="jourPunch != null" >
        jour_punch = #{jourPunch,jdbcType=BIT},
      </if>
      <if test="jourIsDelete != null" >
        jour_is_delete = #{jourIsDelete,jdbcType=BIT},
      </if>
    </set>
    where jour_id = #{jourId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="auto.newsky.coding.po.Journal" >
    update with_journal
    set task_id = #{taskId,jdbcType=INTEGER},
      jour_date = #{jourDate,jdbcType=TIMESTAMP},
      jour_summary = #{jourSummary,jdbcType=VARCHAR},
      jour_punch = #{jourPunch,jdbcType=BIT},
      jour_is_delete = #{jourIsDelete,jdbcType=BIT}
    where jour_id = #{jourId,jdbcType=INTEGER}
  </update>
</mapper>