<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.Dao.JournalMapper" >
  <resultMap id="BaseResultMap" type="com.blog.entity.Journal" >
    <id column="jour_id" property="jourId" jdbcType="INTEGER" />
    <result column="task_id" property="taskId" jdbcType="INTEGER" />
    <result column="jour_date" property="jourDate" jdbcType="DATE" />
    <result column="jour_summary" property="jourSummary" jdbcType="VARCHAR" />
    <result column="jour_punch" property="jourPunch" jdbcType="BIT" />
    <result column="jour_is_delete" property="jourIsDelete" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    jour_id, task_id, jour_date, jour_summary, jour_punch, jour_is_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from with_journal
    where jour_id = #{jourId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from with_journal
    where jour_id = #{jourId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.blog.entity.Journal" >
    insert into with_journal (jour_id, task_id, jour_date, 
      jour_summary, jour_punch, jour_is_delete
      )
    values (#{jourId,jdbcType=INTEGER}, #{taskId,jdbcType=INTEGER}, #{jourDate,jdbcType=DATE}, 
      #{jourSummary,jdbcType=VARCHAR}, #{jourPunch,jdbcType=BIT}, #{jourIsDelete,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.blog.entity.Journal" >
    insert into with_journal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jourId != null" >
        jour_id,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="jourDate != null" >
        jour_date,
      </if>
      <if test="jourSummary != null" >
        jour_summary,
      </if>
      <if test="jourPunch != null" >
        jour_punch,
      </if>
      <if test="jourIsDelete != null" >
        jour_is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jourId != null" >
        #{jourId,jdbcType=INTEGER},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="jourDate != null" >
        #{jourDate,jdbcType=DATE},
      </if>
      <if test="jourSummary != null" >
        #{jourSummary,jdbcType=VARCHAR},
      </if>
      <if test="jourPunch != null" >
        #{jourPunch,jdbcType=BIT},
      </if>
      <if test="jourIsDelete != null" >
        #{jourIsDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blog.entity.Journal" >
    update with_journal
    <set >
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=INTEGER},
      </if>
      <if test="jourDate != null" >
        jour_date = #{jourDate,jdbcType=DATE},
      </if>
      <if test="jourSummary != null" >
        jour_summary = #{jourSummary,jdbcType=VARCHAR},
      </if>
      <if test="jourPunch != null" >
        jour_punch = #{jourPunch,jdbcType=BIT},
      </if>
      <if test="jourIsDelete != null" >
        jour_is_delete = #{jourIsDelete,jdbcType=BIT},
      </if>
    </set>
    where jour_id = #{jourId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blog.entity.Journal" >
    update with_journal
    set task_id = #{taskId,jdbcType=INTEGER},
      jour_date = #{jourDate,jdbcType=DATE},
      jour_summary = #{jourSummary,jdbcType=VARCHAR},
      jour_punch = #{jourPunch,jdbcType=BIT},
      jour_is_delete = #{jourIsDelete,jdbcType=BIT}
    where jour_id = #{jourId,jdbcType=INTEGER}
  </update>
</mapper>